<service>
	<serviceName>oyesocio</serviceName>
	<serviceDescription>Un servicio de redes social connectando Cubanos y el mundo entero.</serviceDescription>
	<creatorEmail>oyesocioapp@gmail.com</creatorEmail>
	<!--serviceCategory: negocios,ocio,academico,social,comunicaciones,informativo,adulto,otros-->
	<serviceCategory>social</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra [SERVICE_NAME]

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: [SERVICE_NAME]

			Recibir&aacute; un email con [WHAT_THE_SERVICE_DOES].
		]]>
	</serviceUsage>
</service>